h1
  background rgba(255,240, 120, 1)
  border-bottom 3px solid rgba(0,0,0,.1)
  box-sizing border-box
  color rgba(55,55,55,1)
  display block
  font-size 32pt
  font-weight 200
  margin-top 0
  padding .5em
  position relative
  text-align center
  width 100vw