<div class="sh-spinner sh-spinner-line" *ngIf="type === 'line'">
  <svg class="sh-spinner-line fadeOut" [attr.width]="elemWidth" [attr.height]="width" [attr.viewBox]="'0 0 ' + elemWidth + ' ' + width">
    <g [attr.transform]="'translate( 0, ' + width / 2 + ')'">
      <line
          [attr.id]="shape + animationIndex"
          fill="none"
          [attr.stroke]="stroke"
          [attr.opacity]="opacity"
          [attr.stroke-width]="width"
          [attr.stroke-linecap]="linecap"
          stroke-miterlimit="10"
          [attr.x1]="width"
          y1="0"
          [attr.x2]="elemWidth - width"
          y2="0">
      </line>
    </g>
  </svg>
</div>
<div class="sh-spinner sh-spinner-circle" *ngIf="type === 'circle'">
  <svg class="sh-spinner-circle fadeOut" [attr.width]="elemWidth" [attr.height]="elemHeight" [attr.viewBox]="'0 0 ' + elemWidth + ' ' + elemHeight">
    <g [attr.transform]="'translate(' + halfwayWCenter + ', ' + halfwayHCenter +')'">
      <circle
          [attr.id]="shape + animationIndex"
          fill="none"
          [attr.stroke]="stroke"
          [attr.opacity]="opacity"
          [attr.stroke-width]="width"
          [attr.stroke-linecap]="linecap"
          stroke-miterlimit="10"
          cx="0"
          cy="0"
          [attr.r]="radius">
      </circle>
    </g>
  </svg>
</div>
<div class="sh-spinner sh-spinner-square" *ngIf="type === 'square'">
  <svg class="sh-spinner-square fadeOut" [attr.width]="elemWidth" [attr.height]="elemHeight" [attr.viewBox]="'0 0 ' + elemWidth + ' ' + elemHeight">
      <g [attr.transform]="'translate(' + halfwayW + ', ' + halfwayH + ')'">
        <rect
            [attr.id]="shape + animationIndex"
            fill="none"
            [attr.stroke]="stroke"
            [attr.opacity]="opacity"
            [attr.stroke-width]="width"
            [attr.stroke-linecap]="linecap"
            stroke-miterlimit="10"
            x="0"
            y="0"
            [attr.rx]="width"
            [attr.ry]="width"
            [attr.height]="diameter"
            [attr.width]="diameter">
      </rect>
    </g>
  </svg>
</div>
<div class="sh-spinner sh-spinner-surround" *ngIf="type === 'surround'">
  <svg class="sh-spinner-surround fadeOut" [attr.width]="elemWidth" [attr.height]="elemHeight" [attr.viewBox]="'0 0 ' + elemWidth + ' ' + elemHeight" style="position:absolute;">
    <g [attr.transform]="'translate(' + width / 2 + ', ' + width / 2 + ')'">
        <rect
            [attr.id]="shape + animationIndex"
            [attr.fill]="overlay"
            [attr.stroke]="stroke"
            [attr.opacity]="opacity"
            [attr.stroke-width]="width"
            [attr.stroke-linecap]="linecap"
            stroke-miterlimit="10"
            x="0"
            y="0"
            [attr.rx]="width"
            [attr.ry]="width"
            [attr.height]="elemHeight - width"
            [attr.width]="elemWidth - width">
      </rect>
    </g>
  </svg>
</div>