app-sh-spinner
  bottom 0
  display block
  left 0
  position absolute
  right 0
  width 100%
  z-index 1000
  *
    box-sizing border-box
  .sh-spinner-surround, 
  .sh-spinner-circle, 
  .sh-spinner-square
    top 0
    left 0
  .sh-spinner-line
    bottom 0
    left 0
.sh-spinner.sh-spinner-surround
  position absolute
  top 0
  left 0
