nav
  background rgba(0,0,0,0.9)
  display block
  font-size 11pt
  font-weight 600
  height auto
  width 100vw
  margin 0
ul
  display block
  list-style none
  margin 0
  padding 0
  li 
    display inline-block
    a
      background rgba(0,0,0,0.9)
      border-right 1px solid rgba(255,255,255,.2)
      color rgba(255,230,95,.7)
      display block
      padding .5em 2em
      text-decoration none
      transition all .15s ease
      &:hover
        background rgba(255,255,255,.2)
        color rgba(255,230,95,1)
        transition all .15s ease
